@charset "UTF-8";

/*
    Paleta de cores
    verde: #49a09d
    lilás: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.466);

    transition: width 0.3s, height 0.4s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background:  #5f2c82 url(../imagens/pexels-marcela-toledo-5610083.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
 /*Declarações paisagem*/
 @media screen and (orientation: landscape) {

    body{
        background-image: linear-gradient(to top, #49a09d,#5f2c82);
    }
    section#login{
        min-height: 150px;
        min-width: 150px;
        width: 70vw;
        height: 55vh;

        transition: width 0.3s, height 0.4s;
    transition-timing-function: ease;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}